*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.section {
    display: inline-flex;
    text-align: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 3rem;
}
.button {
    border: none;
    padding: 1.1rem 1.8rem;
    border-radius: .1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-reverse {
    border: none;
    padding: 1rem 1rem;
    border-radius: .1rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #9e9e9e;
}
.button-reverse:hover {
    background-color: #9e9e9e;
}
.input-text {
    padding: 1rem;
}